<form [formGroup]="loginForm" (ngSubmit)="login()">
    <h3>Login</h3>
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" formControlName="username">
        <div *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.errors?.['required']" class="error-message">
            Username is required
        </div>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password">
        <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']" class="error-message">
            Password is required
        </div>
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
</form>
